
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 350px">
          <img src="../../../assets/frame2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"></h3>
            <p class="card-text">Shop our full catalog of photo accessories</p>
            <a  class="btn btn-primary">Shop Online</a>
          </div>
        </div>
        
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 350px ">
          <img src="../../../assets/orderonline.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"></h3>
            <p class="card-text">Save time, order and pay for prints ahead of time to be picked up at any of our kiosk locations</p>
            <a href='orders-page' class="btn btn-primary">Order Online</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 350px ;">
          <img src="../../../assets/upload3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Add photos to your photo library that can be accessed and printed at any of our kiosk locations</p>
            <a routerLink="photos" class="btn btn-primary">Upload/Edit Photos</a>
          </div>
        </div>
      </div>
    </div>
  </div>  