<body>
<div>
  <img src="../assets/logotry2.svg" width="100%">
</div>
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="container footer">
  <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
          <a class="nav-link active" aria-current="page" href="../../../Contact_Us.html">Contact Us</a>
          <a class="nav-link active" aria-current="page" href="./About_Us.html">About Us</a>
      </div>
      <div class="col-sm-2">
      </div>
  </div>

</div>

</body>