@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


.footerButtons{
    text-align: center;
    background-color: white;
    border: none;
    color: blue;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.col-sm-4{
    margin-top: 40px;
}