<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6" *ngFor="let picture of imageFile.slice(); let i = index">
            <div class="card">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    
                    <img data-src="http://localhost:4000/uploadimages/{{picture}}" alt=""
                        width="100%">
                </div>
               <div class="col-lg-6">
                    
                            <div class="col-lg-12">
                                <form [formGroup]="orders" class="orderForm">
                                    <select class="custom-select" formControlName="size">
                                        <option >Choose Size</option>
                                        <option *ngFor="let size of size">
                                            {{size}}
                                        </option>
                                    </select>
                                    <select class="custom-select" formControlName="quantity">
                                    <option >Quantity</option>
                                    <option *ngFor="let number of quantity">
                                        {{number}}
                                    </option>
                                </select>
                                <button class="orderButton" type="submit" (click)="addToCart(picture)">Add to Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>