<div class="container">
    <div class="row">
        <div class="col-sm-6" *ngFor="let picture of imageFile.slice(); let i = index">
            <div class="row">
                <div class="col-sm-6">
                    {{'Image '+ (i+1)}}
                    <img data-src="http://localhost:4000/uploadimages/{{picture}}" alt=""
                        width="100%">
                </div>
               <div class="col-sm-6">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <form [formGroup]="orders" class="orderForm">
                                    <select class="custom-select" formControlName="sizes">
                                        <option value="">Choose Size</option>
                                        <option *ngFor="let size of sizes">
                                            {{size}}
                                        </option>
                                    </select>
                                    <select class="custom-select" formControlName="quantity">
                                    <option value="">Quantity</option>
                                    <option *ngFor="let number of quantity">
                                        {{number}}
                                    </option>
                                </select>
                                <button type="submit" (click)="orderNow()">Add to Cart</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>