.orderForm{
    padding-top: 10%;
    width: 100%;
}
.card{
    border: black 2px solid;
}
.orderButton{
    color: white;
    background-color:rgb(224, 7, 7);
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    font-family:'Dancing Script', cursive;
}
option{
    font-family:'Dancing Script', cursive;
    font-weight: bold;
  
}