
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.row{
    border: solid white 4px;
}
.col-sm-3{
    border-left: solid white 2px;
    border-bottom:solid white 2px;
    border-top: solid white 2px;
    border-right: solid white 2px;;
}
.trashButton{
    padding: 0;
    border: none;
    background: none;
}
.editButton{
    margin-left: 20px;
    padding: 0;
    border: none;
    background: none;
}
h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size:40px; 
}