.row{
    border: solid white 4px;
}
.col-sm-3{
    border-left: solid white 2px;
    border-bottom:solid white 2px;
    border-top: solid white 2px;
    border-right: solid white 2px;;
}
.trashButton{
    padding: 0;
    border: none;
    background: none;
}