
<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Sapphire</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../../../assets/hamburger_menu_navbar_options_icon_196495.png" height="30px">
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="portal">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="registration">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="photos">Photo Upload/Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Photo Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Online Orders</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>