
<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <button class="navbar-brand" (click)="homePage()">Sapphire</button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../../../assets/hamburger_menu_navbar_options_icon_196495.png" height="30px">
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" *ngIf="!signInStatus"  aria-current="page" routerLink="portal"(click)="loginToggle()" >Sign In</a>
            <a class="nav-link active" *ngIf="signInStatus" aria-current="page" routerLink="portal" (click)="logout()">Log out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="registration">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="photos">Photo Upload/Edit</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink='orderform'>Online Orders</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>