@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.navbar-brand{
    color: blue;
    border: none;
    background-color: whitesmoke;
    font-family:'Dancing Script', cursive;
    font-size: 30px;
}
a{
    font-family:'Dancing Script', cursive;
    font-size: 20px;
}
