
    <!--   <form [formGroup]="myForm" >

            <div *ngIf="filePath && filePath !== ''">
              <img [src]="filePath" width="100%" [alt]="myForm.value.name">
            </div>
          
            <input type="file" accept=".jpg,.svg,.png,.raw"  (change)="onFileChange($event)">
           
        
          
          -->    
           
  
  <form [formGroup]="myForm" >
    <div>
        <div *ngIf="filePath && filePath !== ''">
        <img [src]="filePath" width="100%" [alt]="myForm.value.name">
        </div>
        <label>Choose a photo</label>
        <input type="file" accept=".jpg,.svg,.png,.raw,.jpeg" (change)="onFileChange($event)" (change)="imagePreview($event)">
    
        <button type="submit" (click)="upload()">Upload</button> 
      </div>
      
  </form>

        